@import "tailwindcss";
@import "./style/font.css";

@theme{
--color-main:#131315;
--color-section:#1d1d21;
--color-btn:#fd366e;
--color-white:#f5f5f5;
--color-btn-hover:#ca2b58;

--font-pregular:Poppins-Regular;
--font-pbold:Poppins-Bold;
--font-psemibold:Poppins-SemiBold;
--font-pmedium:Poppins-Medium;
--font-pblack:Poppins-Black;

}
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-12px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slideDown {
  animation: slideDown 0.25s ease-out;
}

body{
   @apply bg-main text-white font-pregular
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(0px);
  }
}

.animate-float {
  animation: float 4s ease-in-out infinite;
}

.animate-float-slow {
  animation: float 6s ease-in-out infinite;
}
